<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="nhapi" version="3.2.2" targetFramework="net472" />
  <package id="nhapi.base" version="3.2.0" targetFramework="net472" />
  <package id="nhapi.model.v21" version="3.2.0" targetFramework="net472" />
  <package id="nhapi.model.v22" version="3.2.0" targetFramework="net472" />
  <package id="nhapi.model.v23" version="3.2.0" targetFramework="net472" />
  <package id="nhapi.model.v231" version="3.2.0" targetFramework="net472" />
  <package id="nhapi.model.v24" version="3.2.0" targetFramework="net472" />
  <package id="nhapi.model.v25" version="3.2.0" targetFramework="net472" />
  <package id="nhapi.model.v251" version="3.2.0" targetFramework="net472" />
  <package id="nhapi.model.v26" version="3.2.0" targetFramework="net472" />
  <package id="nhapi.model.v27" version="3.2.0" targetFramework="net472" />
  <package id="nhapi.model.v271" version="3.2.0" targetFramework="net472" />
  <package id="nhapi.model.v28" version="3.2.0" targetFramework="net472" />
  <package id="nhapi.model.v281" version="3.2.0" targetFramework="net472" />
</packages>